

h1 {
    text-align: center;
    font-family:serif;
}

form {
    text-align: center;
}

input {
    width: 30%;
    padding: 3px;
    
}

p {
    text-align: center;
    font-size: 22px;
}

button {
    padding: 3px;
}

footer {
    text-align: center;
    padding: 5px;
}

footer a {
    color: #222;
    text-decoration:none;
    text-decoration-style: solid
}

footer a:hover {
  text-decoration: underline;
}
